.name-style {
    width: 100%;
}

.date-style {
    width: 100%;
}

.center {
    width: 60%;
    margin: 15px auto;
}

.content-body {
    text-align: center;
}

.err-markup, .err-cost {
    color: red;
}

.disabled {
    display: none;
}
